* {
  box-sizing: border-box;
}

.parent {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 40px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translateX(20px);
  opacity: 1;
  transition-property: background-color 1s, color 1s;
}

.item.red:hover {
  transform: translateX(0px);
  background-color: rgb(42, 165, 67);
  color: black;
  opacity: 0;
}

.item.green {
  width: 100px;
  height: 100px;
  background-color: green;
  /* animation: spin 1s infinite; */
}

@keyframes spin {
  0% {
    transform: rotate(0);
    background-color: green;
  }

  100% {
    transform: rotate(1turn);
    background-color: black;
  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  transform: scale(1);
}
.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(20deg, 20deg);
}
