.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  flex-wrap: wrap;
}

@import './components/format-card';

.format-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-light);
}

.format-text {
  font-weight: 300;
  font-size: 14;
  color: var(--color-primary-light);
}

.formats-title {
  margin-bottom: 80px;
}
